<div id="makeForm">
    <h2>Add New User</h2>
    <form [formGroup]="addUser" (ngSubmit)="addUserSubmit()">
        <div>
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput formControlName="userName" placeholder="Jhon">
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <mat-form-field>
            <mat-label>Workout Type</mat-label>
            <mat-select formControlName="workoutType" matInput>
                <mat-option value="Running">Running</mat-option>
                <mat-option value="Cycling">Cycling</mat-option>
                <mat-option value="Swimming">Swimming</mat-option>
                <mat-option value="Yoga">Yoga</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="min">
            <mat-label>Workout Minutes</mat-label>
            <input type="number" matInput formControlName="workoutMinutes">
        </mat-form-field>
        <mat-divider></mat-divider>
        <div>
            <input mat-flat-button [disabled]="addUser.invalid" type="submit" class="btn" value="Add User">
        </div>
    </form>
</div>
<mat-divider></mat-divider>


<mat-tab-group>
    <mat-tab label="Users Data">

        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.userName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Workouts">
                <th mat-header-cell *matHeaderCellDef> Workouts </th>
                <td mat-cell *matCellDef="let element"> {{element?.workoutType}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef> Number of Workouts </th>
                <td mat-cell *matCellDef="let element"> {{element?.totalworkout}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Total Workout Minutes </th>
                <td mat-cell *matCellDef="let element"> {{element?.workoutMinutes}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
    <!-- <mat-tab label="Chart">
        <app-chart></app-chart>
    </mat-tab> -->
</mat-tab-group>